a{
  color:black;
}
#product1{
height:100%;
width:100%;
padding:2%;
}
.collapse-content{
  color: #f44336 !important;
}
.collapse-content{
  color: #0d47a1 !important;
}
.col-md-3{
  padding-bottom: 2%;
}
.input{
  width:100%;
}
#signUpForm{
  display:none;
}
button{
  margin:1%;
  float:right;
}
#loginForm{
  display:none;
}
#deco{
height:100%;
width:100%;
padding:2%;
}
#price{
  align-items: center;
  margin-bottom: 5%;
  background-color: purple;
  color:white;
}
.options{
  float:left;
}
#preference{
  display: none;
}
